.usa-logo {
  line-height: 1;

  img {
    height: 3rem;
    margin-top: .5rem;
  }
}

@media (min-width: #{$medium-screen}) {
  .usa-logo {
    margin-left: 3rem;
  }
}

@media (min-width: #{$large-screen}) {
  .usa-logo {
    line-height: 1;
    margin-left: 0;
    width: 30%;

    img {
      height: auto;
      margin-top: auto;
    }
  }

  .usa-nav-secondary-links li {
    display: inline-block;
    padding: 0 1.5rem;

    &:not(:last-child)::after {
      content: none;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .usa-nav-secondary-links > li:last-child > a {
    background-color: $color-blue;
    border-radius: $border-radius;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

    &:hover {
      background-color: $color-blue-darkest;
    }

    span {
      border: 0;
    }
  }

}
