.bg-gray {
  background-color: #E5E1E6;
}

.bg-gray-light {
  background-color: #F2EDF3;
}

.border-right {
  border-right: 1px solid $color-blue-darkest;
}

@media (min-width: #{$medium-screen}) {
  .usa-hero-callout {
    max-width: 32rem;
  }
}
