.home-getting-started {
  h2 {
    color: $color-white;
    margin-top: 0;
    text-align: center;
  }

  h3, p {
    text-align: center;
  }

  p {
    font-size: $h5-font-size;
  }
}

.home-about {
  .usa-width-two-thirds {
    padding-right: $spacing-md-small;
  }

  .usa-width-one-third {

  }
}
