<div class="bg-gray-light py4">
  <div class="usa-grid flex">
    <img src="{{ site.baseurl }}/assets/img/icons/alert-circle.svg" alt="" class="mr1 xs-hide">
    <h3 class="m0" style="font-weight: 400;">Are you an agency or service representative? Find training material in our <a href="#" class="bold">agency support</a> section.</h3>
  </div>
</div>

<footer class="bg-gray usa-section">
    <div class="usa-grid">
      <div class="usa-width-two-thirds">
        <h2>Questions? 1-877-968-3778</h2>
        For other ways to contact us, <a href="#">click here</a>
      </div>
      <div class="usa-width-one-third">
        <ul class="list-reset">
          <li class="mb0"><a href="#" class="h5">About the TSP</a></li>
          <li class="mb0"><a href="#" class="h5">Plain language guidelines</a></li>
          <li class="mb0"><a href="#" class="h5">Submit a FOIA request</a></li>
          <li class="mb0"><a href="#" class="h5">TSP Privacy</a></li>
        </ul>
        <p class="h5">Help us improve the site on <a href="#">GitHub</a></p>
      </div>
    </div>
</footer>
